/wandb
/ckpt
/output
/__pycache__
/data/KoEDA_train.json
/data/AIHub_train.json
/data/AIHub_KoEDA_train.json
/data/AIHub_10000.json
/data/TL_10000.json
/data/TL_span_extraction.json
/data/data.zip
/test.ipynb