2_MRC/wandb
2_MRC/ckpt
2_MRC/output
2_MRC/__pycache__
2_MRC/data/KoEDA_train.json
2_MRC/data/AIHub_train.json
2_MRC/data/AIHub_KoEDA_train.json
2_MRC/data/AIHub_10000.json
2_MRC/data/TL_10000.json
2_MRC/data/TL_span_extraction.json
2_MRC/data/data.zip
2_MRC/test.ipynb
2_MRC/data/AIHub/